<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="true" scanPeriod="15 seconds">

    <property name="HOME" value="E:\Interview Prep\Projects\oms\logs"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level [%X{correlationId}] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="LOGS" class="com.sysco.cpws.util.logging.CustomRollingFileAppender">
        <file>${HOME}/console.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${HOME}/console.%d{yyyy-MM-dd}.log</fileNamePattern>

            <!-- keep 10 days' worth of history capped at 3GB total size -->
            <maxHistory>5</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>

        </rollingPolicy>

        <append>true</append>
        <!-- encoders are assigned by default the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
        <encoder>
            <pattern>>%d{yyyy-MM-dd HH:mm:ss.SSS 'GMT',GMT} [%thread] %-5level [%X{correlationId}] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="EVENTS" >
        <file>${HOME}/metrics.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${HOME}/metrics.%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>20</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>100MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS 'GMT',GMT} %-5level %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="AUDITLOGS" >
        <file>${HOME}/audit.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- hourly rollover -->
            <fileNamePattern>${HOME}/audit.%d{yyyy-MM-dd_HH}.log</fileNamePattern>
            <maxHistory>2</maxHistory>
            <totalSizeCap>5GB</totalSizeCap>
        </rollingPolicy>
        <append>true</append>
        <!-- encoders are assigned by default the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp/>
                <logLevel/>
                <pattern>
                    <pattern>
                        {
                        "logMessage": "#asJson{%message}"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>

    <logger name="org.springframework" level="WARN"/>
    <logger name="org.springframework.web" level="INFO"/>
    <logger name="com.zaxxer.hikari" level="WARN"/>
    <logger name="com.sysco.cpws" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="LOGS"/>
        <appender-ref ref="STDOUT"/>
    </root>

    <!-- additivity=false ensures events data only goes to the events log -->
    <logger name="LoggerForEvents" level="INFO" additivity="false">
        <appender-ref ref="EVENTS"/>
    </logger>

    <!-- additivity=false ensures events data only goes to the audit log -->
    <logger name="LoggerForAudits" level="INFO" additivity="false">
        <appender-ref ref="AUDITLOGS"/>
    </logger>

</configuration>
